* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, San-serif;
}

body {
  height: 100vh;
  display: flex;
  background: #060AB2;  
}

.board {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
  padding: 10px;
  margin-bottom: 30px;
  /* border: red solid 2px; */
}

.titles h1 {
  color: limegreen;
}
.titles h2 {
  color: #fff;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 60%;
  margin: auto;
  
}

.buttons a {
  align-items: center;
  text-decoration: none;
  font-size: 1.5em;
  color: #060AB2;
  padding: 10px 50px;
  margin: 10px;
  /* border: red solid 2px; */
  background: limegreen;
  border-radius: 10px;
  font-weight: 700;
}

.buttons a:hover {
  background: lime;
  color: rgb(0, 162, 255);

}

.memory-game {
  width: 70em;
  height: 35em;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  flex-wrap: wrap;
  perspective: 10000px;
  /* border: red solid 2px; */
}

.memory-card {
  height: 95%;
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 0px;
  position: absolute;
  border-radius: 5px;
  background: #1C7CCC;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

/*responsive*/
@media (max-width: 1200px) {
  .memory-game {
    width: 46.6em;
    height: 52.5em;
    /* margin: auto;
    display: grid; */
    grid-template-columns: repeat(4,1fr);
    /* flex-wrap: wrap;
    perspective: 10000px; */
  }

}

  @media (max-width: 900px) {
  .memory-game {
    width: 35em;
    height: 70em;
    /* margin: auto;
    display: grid; */
    grid-template-columns: repeat(3,1fr);
    /* flex-wrap: wrap;
    perspective: 10000px; */
  }
}
.player-names {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.player-names input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px; /* Adicione um espaçamento à direita para separar as caixas de nome */
}
.player-score {
  font-size: 1.2em;
  font-weight: 700;
  color: #fff;
}
.current-player {
  background-color: limegreen;
  color: #fff;
}

